In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
from datetime import datetime,timedelta
from matplotlib import pyplot as plt
from netCDF4 import Dataset

In [3]:
ds=Dataset(r'D:\UNSW\CMIP_ssp585_Oday_tos-mean.nc')
url_1="https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_pacific_hurricane.csv"
df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth
0,SP,14,1982012518,BEST,0,180S,1541E,25,18.0,154.1
1,SP,14,1982012600,BEST,0,191S,1548E,25,19.1,154.8
2,SP,14,1982012606,BEST,0,197S,1557E,25,19.7,155.7
3,SP,14,1982012612,BEST,0,199S,1567E,30,19.9,156.7
4,SP,14,1982012618,BEST,0,201S,1578E,35,20.1,157.8
...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019051518,BEST,0,118S,1396E,25,11.8,139.6
12003,SP,27,2019051600,BEST,0,112S,1385E,25,11.2,138.5
12004,SP,27,2019051606,BEST,0,112S,1374E,20,11.2,137.4
12005,SP,27,2019051612,BEST,0,109S,1362E,20,10.9,136.2
12006,SP,27,2019051618,BEST,0,103S,1352E,25,10.3,135.2

In [5]:
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    institution_id: MRI
    frequency: day
    activity_id: ScenarioMIP
    experiment_id: ssp585
    table_id: Oday
    variable_id: tos
    experiment: update of RCP8.5 based on SSP5
    source_id: ['MPI-ESM1-2-LR', 'CanESM5', 'MIROC6', 'IPSL-CM6A-LR', 'EC-Earth3', 'EC-Earth3-Veg', 'CESM2', 'CMCC-CM2-SR5', 'CESM2-WACCM', 'NorESM2-MM', 'NESM3', 'MRI-ESM2-0']
    scenario_variables: tos_mean
    scenario_experiments: ['historical', 'ssp126', 'ssp245', 'ssp370', 'ssp585']
    dimensions(sizes): time(10950), latitude(54), longitude(94)
    variables(dimensions): float32 tos_mean_mean(time,latitude,longitude), float32 tos_mean_std(time,latitude,longitude), float32 tos_mean_min(time,latitude,longitude), float32 tos_mean_max(time,latitude,longitude), int64 time(time), float32 latitude(latitude), float32 longitude(longitude)
    groups:

In [9]:
df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['tos_mean_mean']
# sd=ds.variables['expver']

In [11]:
df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['tos_mean_mean']

In [12]:
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8
...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2

In [13]:
intial=1900010100
initial_date=pd.to_datetime(intial,format='%Y%m%d%H')
df_1["diff"]=df_1['Time']-initial_date
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00

In [14]:
df_1['total_1']=(df_1['diff']/timedelta(seconds=1))/3600
df_1['sst_1']=""

In [18]:
for index,row in df_1.iterrows():
    latitude=row['lat_tenth']
    longitude=row['lon_tenth']
    total_1=row['total_1']

    
    diff_lat=(lat-latitude)**2
    diff_lon=(lon-longitude)**2
    diff_time=(time-total_1)**2

    
    min_lat=diff_lat.argmin()
    min_lon= diff_lon.argmin()
    min_time=diff_time.argmin()

    
    df_1.loc[index,'sst_1']=sst[min_time,min_lat,min_lon]

In [19]:
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,31.268557
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,31.268557
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,31.268557
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,31.268557
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,31.268557
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,31.268557
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,31.268557
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,31.268557
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,31.268557
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,31.268557

In [26]:
df_1.to_csv('Subs_CMIP_ssp585.csv',index=False)
with open('Subs_CMIP_ssp585.csv','r') as in_file, open('Output_sp.csv','w') as out_file:
  
    seen = set() 
    
    for line in in_file:
        if line in seen: 
          continue 

        seen.add(line)
        out_file.write(line)

In [28]:
df = pd.read_csv('Output_sp.csv')
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,31.268557
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,31.268557
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,31.268557
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,31.268557
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,31.268557
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10157,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,31.268557
10158,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,31.268557
10159,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,31.268557
10160,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,31.268557
10161,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,31.268557

In [29]:
for index,row in df.iterrows():
        start=df['total_1'][index]
        for days in range(1,31):
            start=start-24*days

            latitude=df['lat_tenth'][index]
            longitude=df['lon_tenth'][index]

            diff_lat=(lat-latitude)**2
            diff_lon=(lon-longitude)**2
            diff_time=(time-start)**2


            min_lat=diff_lat.argmin()
            min_lon= diff_lon.argmin()
            min_time=diff_time.argmin()



            df.loc[index,days]=sst[min_time,min_lat,min_lon]

In [30]:
df = df.reset_index(drop=True)

In [31]:
df.to_csv('CMIP_ssp585_Oday_tos-mean')

In [33]:
df = pd.read_csv('CMIP_ssp585_Oday_tos-mean.csv')

In [34]:
df=df.drop(columns='Unnamed: 0')

In [35]:
for index,row in df.iterrows():
    sub=0
    for weeks in range(1,5):
        sum1=0
        for days in range(1,8):
            sub+=1
            su=str(sub)
            sum1+=df[su][index]
            
        sum1=sum1/7
        s='Week'+'_'+ str(weeks)+'_'+ 'Mean'
        df.loc[index,s]=sum1

In [37]:
from math import *

In [38]:
for index,row in df.iterrows():
    sub1=0
    sub2=0
    for weeks in range(1,5):
        sum1=0
        sum2=0
        for days in range(1,8):
            sub1+=1
            su=str(sub1)
            sum1+=df[su][index]
            
        sum1=sum1/7
        for days in range(1,8):
            sub2+=1
            su=str(sub2)
            sum2+=(df[su][index]-sum1)*(df[su][index]-sum1)
        sum2=sum2/7
        s='Week'+'_'+ str(weeks)+'_'+ 'SD'
        df.loc[index,s]=sqrt(sum2)

In [39]:
dict={0:[],1:[],2:[],3:[],4:[],5:[],6:[],7:[],8:[],9:[],10:[],11:[],12:[],13:[],14:[],15:[],16:[],17:[],18:[],19:[],20:[],21:[],22:[],23:[],24:[],25:[],26:[],27:[],28:[],29:[],30:[],31:[],32:[],33:[],34:[],35:[],36:[],37:[],38:[],39:[],40:[]} 
for index,row in df.iterrows():
    add=dict[df["No. of Cycl"][index]]
    add.append(df["Speed(knots)"][index])

In [40]:
df.sort_values(["No. of Cycl"],axis=0, ascending=True,inplace=True,na_position='first')
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,...,29,30,Week_1_Mean,Week_2_Mean,Week_3_Mean,Week_4_Mean,Week_1_SD,Week_2_SD,Week_3_SD,Week_4_SD
7110,SP,1,2006-10-25 06:00:00,BEST,0,157S,1717E,60,15.7,171.7,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
3868,SP,1,1994-11-10 18:00:00,BEST,0,71S,1677E,15,7.1,167.7,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
3869,SP,1,1994-11-11 00:00:00,BEST,0,76S,1679E,15,7.6,167.9,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
3870,SP,1,1994-11-11 06:00:00,BEST,0,81S,1682E,15,8.1,168.2,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
3871,SP,1,1994-11-11 12:00:00,BEST,0,86S,1686E,20,8.6,168.6,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4920,SP,38,1997-06-08 12:00:00,BEST,0,87S,1730W,25,8.7,173.0,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
4922,SP,38,1997-06-09 00:00:00,BEST,0,85S,1738W,25,8.5,173.8,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
4923,SP,38,1997-06-09 06:00:00,BEST,0,83S,1742W,30,8.3,174.2,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
4914,SP,38,1997-06-07 00:00:00,BEST,0,91S,1711W,15,9.1,171.1,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0
4946,SP,38,1997-06-15 00:00:00,BEST,0,195S,1667W,40,19.5,166.7,...,31.268557,31.268557,31.268557,31.268557,31.268557,31.268557,0.0,0.0,0.0,0.0

In [41]:
df['Avg_Wind_speed']=""
df['Deviation_Wind_speed']=""
for i in range(1,39):
    c=0
    d=0
    if(len(dict[i])!=0):
        for j in range(0,len(dict[i])):
            c=c+dict[i][j]
            d=d+dict[i][j]*dict[i][j]
        c=c/len(dict[i])
        d=d/len(dict[i])
        for index,row in df.iterrows():
            if(df['No. of Cycl'][index]==i):
                df.loc[index,'Avg_Wind_speed']=c
                df.loc[index,'Deviation_Wind_speed']=sqrt(d-c*c)
                break

In [42]:
df = df.reset_index(drop=True)

In [43]:
df.to_csv("CMIP_ssp585_with_Mean_nd_Dev.csv")